
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #222;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background:white;
}

header::after{
    content: '';
    display: table;
    clear: both;

}

.logo{
    float: left;
    padding: 10px 0;
    font-weight: bold;
}

nav{
    float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 55px;

    position: relative;
}

nav a {
color: black;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

nav a:hover{
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(209, 151, 202);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 350ms;
}

nav a:hover::before{
    width: 100%;
}

nav #icon{
    color: black;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media(max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }

    nav ul{
        margin-right: 20px;
    }

    nav a{
        font-size: 17px;
    }

}

@media (max-width: 1650px){
    nav #icon{
        display: block;
      
    }

    nav ul{
       position: absolute;
        width: 100%;
        height: 109vh;
        background: white;
        top: 150px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav li{
        float: absolute;
        text-align: center;
        display: block;
        margin: 10px 0;
        line-height: 5px;
    }
    nav a{
        font-size: 15px;
    }
    nav ul.show{
        left: 0;
    }
}

.footer{
    background-color:black;
    opacity: 50%;
    padding: 70px 0;
    bottom: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container2{
    max-width: 1170px;
    margin: auto;
 
}

ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(209, 151, 202);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease ;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.footer {
    position: relative;
    top: 70px;
    width: 100%;
}

/*responsive*/
@media(max-width: 574px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .container{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
}
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}


.text2{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 800px;
    left: 49%;
    bottom: 20em;
}

.text3{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    width: 800px;
    right: 28%;
    width: 400px;
    height: 500px;
    top: 530px;
    text-decoration: white;
}
.cir1{
position: relative;
background-color: black;
opacity: 50%;
width: 600px;
height: 600px;
border-radius: 1000px;
left: 20%;
top: 15em;
}

.text1{
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    height: 500px;
    right: 53%;
    top: 600px;
}

.cir2{
position: relative;
background-color: black;
opacity: 50%;
width: 600px;
height: 600px;
border-radius: 1000px;
bottom: 28em;
left: 47%;
}

@media(max-width: 574px){
    .cir1 {
        width: 50%;
        margin-bottom: 30px;
    }

    .cir2{
        width: 50%;
        margin-bottom: 30px;
        bottom: 2em;
    }
   
    .text1{
        width: 45%;
        margin-bottom: 30px;
        font-size: 12px;
        text-align: center;
        left: 23%;
        top: 20%;
    }

    .text2{
        width: 50%;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
         bottom: 20%;
    }

    .text3{
        width: 45%;
        margin-bottom: 30px;
        top: 100%;
        left: 50%;
        text-align: center;
        font-size: 12px;
    }

}

@media(max-width: 1650px){
    .cir1{
        width: 50%;
        margin-bottom: 30px;
       
    }

    .cir2{
        width: 50%;
        margin-bottom: 30px;
        bottom: 70%;
    }

    .text1{
        width: 45%;
        margin-bottom: 30px;
        left: 23%;
        top: 60%;
    }

    .text2{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
         bottom: 6%;
    }

    .text3{
        width: 45%;
        margin-bottom: 30px;
        top: 100%;
        left: 50%;
    }
}

@media(max-width: 1048px){
    .cir1{
        width: 50%;
        margin-bottom: 30px;
       
    }

    .cir2{
        width: 50%;
        margin-bottom: 30px;
        bottom: 70%;
    }

    .text1{
        width: 45%;
        margin-bottom: 30px;
        left: 23%;
        top: 55%;
        font-size: 12px ;
    }

    .text2{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
         bottom: 6%;
    }

    .text3{
        width: 45%;
        margin-bottom: 30px;
        top: 100%;
        left: 50%;
        font-size: 12px ;
    }
}



